<nav class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumbs-list">
            <li><a href="{{ "/" | relURL }}">Inicio</a></li>
            {{ $currentPage := . }}
            {{ range $currentPage.Ancestors.Reverse }}
                {{ if not .IsHome }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
            {{ if not $currentPage.IsHome }}
                <li class="current">{{ $currentPage.Title }}</li>
            {{ end }}
        </ol>
    </div>
</nav>
